@model VmProduct
@inject IHttpContextAccessor _httpContext
@{ 

    string cart = _httpContext.HttpContext.Request.Cookies["cart"];
    List<string> cartList = new List<string>();
    if (!string.IsNullOrEmpty(cart))
    {
        cartList = cart.Split("-").ToList();

    }
}

<main>
    <section id="page-heading">
        <div class="container expanded">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>
                            Welcome to
                            <br>
                            <em>Our Products.</em>
                        </h2>
                        <span>Home / <em> Our Shop</em></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="all-products-grid">
        <div class="container expanded">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar-filter">
                        <div class="row">
                            <div class="col-lg-12">
                                <form asp-controller="product" asp-action="index" method="get" class="sidebar-widget search-box">
                                    <label>
                                        <input type="search" placeholder="Type here to search..." asp-for="@Model.searchData">
                                        <input asp-for="@Model.prdId" hidden />
                                        <input asp-for="@Model.MinPrice" hidden />
                                        <input asp-for="@Model.MaxPrice" hidden />
                                    </label>
                                    <input type="submit" class="search-submit mt-3" value="Search">
                                </form>
                            </div>
                            <div class="col-lg-12">
                                <form asp-controller="product" asp-action="index" method="get" class="sidebar-widget search-filter">
                                    <h4>Search Filter</h4>
                                    <div class="select">
                                        <select id="collection">
                                            <option value="default" selected>Collection Type</option>
                                            @foreach (var item in Model.ProductCategories)
                                            {
                                                <option  asp-route-prdId="@item.Id" asp-route-searcData="@Model.searchData" asp-route-MinPrice="@Model.MinPrice" asp-route-MaxPrice="@Model.MaxPrice">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="select">
                                        <select id="color">
                                            <option value="default" selected>Product Color</option>
                                            @foreach (var item in Model.Colors)
                                            {
                                                <option value="red">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="select">
                                        <select id="size">
                                            <option value="default" selected>Product Size</option>
                                            @foreach (var item in Model.Sizes)
                                            {
                                                <option value="S">@item.Name</option>

                                            }
                                        </select>
                                    </div>
                                    <input asp-for="@Model.prdId" hidden />
                                    <input asp-for="@Model.MinPrice" hidden />
                                    <input asp-for="@Model.MaxPrice" hidden />
                                    <button type="submit" class="main-dark-button">Search Now</button>
                                </form>
                            </div>
                            <div class="col-lg-12">
                                <form asp-controller="product" asp-action="index" method="get" class="sidebar-widget search-box">
                                    <label>
                                        <input asp-for="@Model.MinPrice" placeholder="Min Price" class="mb-3">
                                        <input asp-for="@Model.MaxPrice" placeholder="Max Price">
                                        <input asp-for="@Model.prdId" hidden />
                                        <input asp-for="@Model.searchData" hidden />
                                    </label>
                                    <button type="submit" class="search-submit mt-3">Fillter</button>
                                </form>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-widget products-categories">
                                    <h4>Products Categories</h4>
                                    <ul>
                                        @foreach (var item in Model.ProductCategories)
                                        {
                                            <li>
                                                <a asp-controller="product" asp-action="index" asp-route-prdId="@item.Id" asp-route-searcData="@Model.searchData" asp-route-MinPrice="@Model.MinPrice" asp-route-MaxPrice="@Model.MaxPrice">@item.Name<em>5@*@item.Products.Count*@</em></a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-widget promotion-widget">
                                    <a href="#">
                                        <div class="thumb">
                                            <img src="/img/new-arrival-ads.jpeg" alt="">
                                            <div class="inner-content">
                                                <span class="banner">New Arrivals</span>
                                                <h4>
                                                    Livia fenco - Fashion
                                                    <br>
                                                    <em>new arrival.</em>
                                                </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                @foreach (var item in Model.Products)
                                {
                                    <div class="col-lg-3">
                                        <div class="recent-item">
                                            <div class="thumb">
                                                @{
                                                    DateTime thirdDays = DateTime.Now.AddDays(-3);
                                                    if (item.CreatedDate != null && item.CreatedDate > thirdDays)
                                                    {
                                                        <span class="banner">New</span>
                                                    }
                                                }
                                                @*@{
                                                    DateTime? itemDiscount = item.ColorToProducts.FirstOrDefault().SizeColorToProducts.FirstOrDefault().DiscountDate;
                                                    if (itemDiscount != null && itemDiscount > DateTime.Now)
                                                    {
                                                        <span class="banner">Sale</span>
                                                    }
                                                }*@

                                                <div class="hover-contet">
                                                    <ul class="icons">
                                                        <li>
                                                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                                                        </li>
                                                        <li>
                                                            <a asp-controller="product" asp-action="details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                                                        </li>
                                                        <li>
                                                            <a asp-controller="product" asp-action="addToCart" 
                                                               asp-route-sizeColorproductId="@item.ColorToProducts.FirstOrDefault().SizeColorToProducts.FirstOrDefault().Id" 
                                                               class="@(cartList.Any(i=>i==item.ColorToProducts.FirstOrDefault()
                                                                                                                                .SizeColorToProducts.FirstOrDefault().Id.ToString())?"inCart":"")">
                                                            <i class="fa-solid fa-basket-shopping"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <img src="~/Uploads/@item.ColorToProducts.FirstOrDefault().ProductImages.FirstOrDefault().Image" alt="">
                                            </div>
                                            <div class="down-content">
                                                <h4><a href="product-details.html">@item.Name</a></h4>
                                                <span class="price">
                                                    $@item.ColorToProducts.FirstOrDefault().SizeColorToProducts.FirstOrDefault().Price
                                                </span>
                                            </div>


                                        </div>
                                    </div>

                                }

                                <nav aria-label="...">
                                    <ul class="pagination">
                                        <li class="page-item @(Model.Page==1?"disabled":"")">
                                            <a class="page-link pageItemCount" asp-controller="product" asp-action="index" asp-route-page="@(Model.Page-1)" asp-route-itemCount="@Model.ItemCount" asp-route-searchData="@Model.searchData">Previous</a>
                                        </li>
                                        @for (int i = 1; i <= Model.PageCount; i++)
                                        {
                                            <li class="page-item @(Model.Page==i?"active":"")" aria-current="page">
                                                <a class="page-link pageItemCount" asp-controller="product" asp-action="index" asp-route-page="@i" asp-route-itemCount="@Model.ItemCount" asp-route-searchData="@Model.searchData">@i</a>
                                            </li>
                                        }
                                        <li class="page-item @(Model.Page==Model.PageCount?"disabled":"")">
                                            <a class="page-link pageItemCount" asp-controller="product" asp-action="index" asp-route-page="@(Model.Page+1)" asp-route-itemCount="@Model.ItemCount" asp-route-searchData="@Model.searchData">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fenco-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="right-text">
                                <h6>Free Shipping</h6>
                                <span>Free, fast & secure delivery within 24h.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-shield-blank"></i>
                            </div>
                            <div class="right-text">
                                <h6>Secure Payment</h6>
                                <span>Up to 12 months open for support tickets.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-arrow-rotate-left"></i>
                            </div>
                            <div class="right-text">
                                <h6>30 Days Return</h6>
                                <span>30 days free returns for unhappy products.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

